@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
html, body{
  background-image: url("../img/page-bg.jpg");
  height: 100%;
  font-family: 'Bree Serif', serif;


}
.header {
  border-radius: 0;
  border: 0;
  width: 51%;
  height:13%;
  margin: auto;
  background-color: rgb(34, 34, 34);
  margin-top: -1%
}
.con {
  margin: auto;
  width: 51%;
  height: 75%;
  background-image: url("../img/body-bg.png");
  margin-top: -3%;
}
.nav{
  margin-top: 6.2%;
  margin-left: 54%;
}
.conli{
  padding-top: 5%;
  margin-bottom: 50%;
}
ul{
  margin-left: 53%;
    font-size: 2vh;
  display: inline;
}
li{
  margin-right: 10px;
  font-size: 2vh;
  position: relative;
  display:inline;
}
h1{
  margin-left: 5%;
  font-size: 6vh;
  color: rgb(108, 109, 111);
  padding-top: 6%;
  font-weight: lighter;
}
.divider{
  margin: auto;
  width: 90%;
  height: 1.5%;
  background-image: url("../img/divider.png");
  margin-top: -2%;
}
.pic{
  margin-left: 5%;
  margin-top: 5%;
  width: 25%;
  height: 42%;
  box-shadow:  0 2px 7px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
}
img{
  width: 100%;
  height:100%;
}
.textcontainer{
  margin-left: 36%;
  color: rgb(108, 109, 111);
  float: left;
  margin-top: -34%;
  width: 58%;
}
h4{
  font-size: 2vh;
  font-weight: lighter;
}
p{
  font-size: 1.6vh;
  padding-top: -1%;

}
.logoscontainer{
  width: 50%;
  height: 15%;
  margin-left: 38%;
}
.con1{
  height: 100px;
  width: 100px;
}
.con2{
  height: 100px;
  width: 100px;
  margin-left: 21%;
  margin-top: -18.2%;
}
.con3{
  height: 90px;
  width: 90px;
  margin-left: 41%;
  margin-top: -17%;
}

.con4{
  height: 90px;
  width: 65px;
  margin-left: 65%;
  margin-top: -16.5%;
}
.con5{
  height: 95px;
  width: 95px;
  margin-left: 83%;
  margin-top: -17%;
}
